body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header_back {
    width: 100%;
    height: 32px;
    background: #1c2122;
}

.header_info {
    color: #9bb3b8;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.info {
    display: block;
    margin-top: 6px;
    float: left;
}

.info-item {
    margin-right: 7px;
    margin-left: 32px;
}

.info-item:first-child {
    margin-left: 0;
}

.social {
    float: right;
    margin-top: 0;
}

.social_pic {
    padding: 8px 15px 10px 15px;
    border-left: solid 1px #9bb3b8;
    font-size: 14px;
}

.social img {
    border-right: solid 1px #9bb3b8;
}

.default_link a {
    text-decoration: none;
    color: inherit
}

.horizontal-list ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.horizontal-item li {
    float: left;
}

.menu_back {
    background: white;
    width: 100%;
    height: 89px;
    color: #1c2122;
    border: 1px solid black;
}

.logo {
    height: 33px;
    width: 198px;
    margin-top: 27px;
    float: left;
}

.menu {
    float: right;
    font-size: 12px;
    margin-top: 23px;
}

.menu-item {
    margin-left: 32px;
}

.font-bold {
    font-weight: bold;
}

.slider {
    height: 596px;
    position: relative;
    width: 100vw;
}

.full_image {
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    height: inherit;
    width: 100%;
}

.font-bold {
    font-weight: bold;
}

.top-space {
    margin-top: 0px;
    padding-top: 40px;
}

.estate-info {
    height: 100px;
    width: 475px;
    background: #000000;
    position: absolute;
    top: 350px;
    right: 0;
}

.estate-info p {
    color: white;
    font-size: 36px;
    text-align: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.estate-info li {
    color: #9bb3b8;
    font-size: 11px;
    margin-left: 25px;
    list-style-type: square;
    font-style: italic;
}

.estate-info li:first-child {
    list-style-type: none;
}

.price {
    color: #fe5c11;
    font-style: italic;
    margin-left: 14px;
    position: relative;
    bottom: 10px;
    font-size: 24px;
}

.switcher {
    position: absolute;
    left: 50%;
    bottom: 23px;
    transform: translateX(-50%);
}

.switcher-item {
    box-sizing: border-box;
    padding: 0;
    height: 14px;
    width: 14px;
    margin-left: 10px;
    border: 3px solid lightgray;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 1s ease;
    background-color: transparent;
}

.switcher-item:hover,
.switcher-item:focus {
    background-color: #fe5c11;
    outline: 0;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

.fltr-cont {
    font-size: 0px;
    height: 154px;
}

.inline {
    display: inline-block;
    position: relative;
}

.field-icon {
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

.input_location {
    width: 444px;
    height: 30px;
}

.icon-btn {
    height: 19px;
    width: 19px;
    background-position: center;
    position: absolute;
    right: 8px;
    top: 10px;
}

.inpt_spc {
    margin: 0 20px;
}

.fltr-space-top {
    margin-top: 30px;
}

.inpt_big {
    height: 30px;
    width: 204px;
}

.inpt_medium {
    height: 30px;
    width: 174px;
}

.inpt_small {
    height: 30px;
    width: 124px;
}

.inpt_bg_clr {
    border: 1px solid #ddd;
    box-shadow: inset 0px 1px 1px 0 rgba(155, 179, 184, 0.4);
    background-color: #f2f3f4;
}

input {
    padding-left: 13px;
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus,
button:focus {
    outline-width: 0;
}

.inpt_spc {
    margin: 0 20px;
}

.fltr-space-top {
    margin-top: 30px;
}

.btn-org {
    background-color: #fe5c11;
    color: #ffffff;
    font-size: 12px;
    border: 0;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}

.btn-sub {
    height: 34px;
    width: 200px;
    padding: 0px;
    padding-right: 30px;
}

.btn-sign-up {
    height: 34px;
    width: 85px;
    padding: 0;
    margin-left: 20px;
    margin-right: 31px;
}

.fa-search {
    font-size: 14px;
    position: absolute;
    top: 30%;
    right: 64px;
    color: white;
}

.prop-title {
    margin: 28px 0 20px 0;
}

.text {
    margin: 0 auto;
    margin-bottom: 27px;
    width: 593px;
    text-align: center;
    font-size: 14px;
}

.text-link {
    color: #fe5c11;
    text-decoration: none;
}

.article-estate {
    height: 422px;
    width: 300px;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.article-img {
    display: block;
}

.article-title {
    text-align: center;
    margin: 20px 0 15px;
}

.article-line {
    width: 260px;
    margin: 0 20px 0 20px;
    border-top: 1px solid #cccccc;
    padding: 8px 0 0px;
}

.article-option {
    float: left;
}

.article-value {
    float: right;
}

.article-font {
    font-size: 11px;
    color: #aaaaaa;
}

.article-price {
    font-size: 14px;
    color: #fe5c11;
}

.article-center {
    margin: 0 20px;
}

.article-container-line {
    display: flex;
    margin-bottom: 20px;
}

.font-italic {
    font-style: italic;
}

.client-container-line {
    margin-bottom: 32px;
}

.client-agent-text {
    width: 761px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 28px;
}

.client-pic {
    display: block;
    float: left;
    margin-right: 10px;
}

.client-feedback {
    display: block;
    margin: 0;
    font-size: 14px;
    margin-top: 4px;
    font-weight: 300;
}

.client-text-cont {
    width: 390px;
    float: right;
}

.clnt-cont-spc-btwn {
    margin-right: 20px;
}

.client-container-line {
    display: flex;
}

.client-stamp {
    margin-top: 5px;
    color: #9bb3b8;
}

.client-name {
    font-size: 14px;
}

.client-company {
    font-size: 11px;
    margin-left: 4px;
}

.agent-pic-cont {
    display: flex;
    margin-bottom: 70px;
}

.agent-pic {
    background: url("/img/default.jpeg");
    background-image: linear-gradient(red, yellow);
    width: 172px;
    height: 140px;
}

.newsletter-title {
    margin: 0;
    padding: 32px 31px 20px;
    text-align: left;
}

.news-cont {
    height: 34px;
    display: flex;
}

.input-email {
    width: 323px;
    height: 30px;
}

.news-note {
    width: 389px;
    height: 31px;
    font-size: 14px;
    margin: 0 59px 0 32px;
}

.subscr-bg {
    width: 100%;
    height: 205px;
    background: #9bb3b8;
}

.subscr-container {
    width: 940px;
    height: 141px;
    margin: 0 auto;
    position: relative;
    top: 18%;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
    background: white;
}

footer {
    width: 100%;
    height: 296px;
    background-color: #1c2122;
}

.footer-title {
    color: white;
    text-align: left;
}

.footer-cont {
    width: 280px;
    height: 100%;
    margin-right: 40px;
}