body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header_back {
    width: 100%;
    height: 32px;
    background: #1c2122;
}

.header_info {
    color: #9bb3b8;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.info {
    display: block;
    margin-top: 6px;
    float: left;
}

.info-item {
    margin-right: 7px;
    margin-left: 32px;
}

.info-item:first-child {
    margin-left: 0;
}

.social {
    float: right;
    margin-top: 0;
}

.social_pic {
    padding: 8px 15px 10px 15px;
    border-left: solid 1px #9bb3b8;
    font-size: 14px;
}

.social img {
    border-right: solid 1px #9bb3b8;
}

.default_link a {
    text-decoration: none;
    color: inherit
}

.horizontal-list ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.horizontal-item li {
    float: left;
}

.menu_back {
    background: white;
    width: 100%;
    height: 89px;
    color: #1c2122;
    border: 1px solid black;
}

.logo {
    height: 33px;
    width: 198px;
    margin-top: 27px;
    float: left;
}

.menu {
    float: right;
    font-size: 12px;
    margin-top: 23px;
}

.menu-item {
    margin-left: 32px;
}

.slider {
    height: 596px;
}

.slide {
    float: right;
}

.estate-info {
    height: 100px;
    width: 475px;
    background: #000000;
    position: absolute;
    top: 350px;
    right: 0;
}

.estate-info p {
    color: white;
    font-size: 36px;
    text-align: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.estate-info li {
    color: #9bb3b8;
    font-size: 11px;
    margin-left: 25px;
    list-style-type: square;
    font-style: italic;
}

.estate-info li:first-child {
    list-style-type: none;
}

.price {
    color: #fe5c11;
    font-style: italic;
    margin-left: 14px;
    position: relative;
    bottom: 10px;
    font-size: 24px;
}

.switcher {
    position: absolute;
    left: 50%;
    bottom: 23px;
    transform: translateX(-50%);
}

.switcher-item {
    box-sizing: border-box;
    padding: 0;
    height: 14px;
    width: 14px;
    margin-left: 10px;
    border: 3px solid lightgray;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 1s ease;
    background-color: transparent;
}

.switcher-item:hover,
.switcher-item:focus {
    background-color: #fe5c11;
    outline: 0;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

.fltr-cont {
    font-size: 0px;
    height: 154px;
}

.inline {
    display: inline-block;
    position: relative;
}

.field-icon {
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

.input_location {
    width: 444px;
    height: 30px;
}

.icon-btn {
    height: 19px;
    width: 19px;
    background-position: center;
    position: absolute;
    right: 8px;
    top: 10px;
}

.field_prop1 {
    height: 30px;
    width: 204px;
}

.field_prop2 {
    height: 30px;
    width: 174px;
}

.field_prop3 {
    height: 30px;
    width: 124px;
}

.inpt_bg_clr {
    border: 1px solid #ddd;
    box-shadow: inset 0px 1px 1px 0 rgba(155, 179, 184, 0.4);
    background-color: #f2f3f4;
}

input {
    padding-left: 13px;
    text-decoration: none;
}

input:focus {
    outline-width: 0;
}

.inpt_spc {
    margin-left: 20px;
    margin-top: 30px;
}

.btn-sub {
    height: 34px;
    width: 200px;
    padding-right: 30px;
    background-color: #fe5c11;
    color: #ffffff;
    font-size: 12px;
    background-image: url('img/');
    border: 0;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}

.fa-search {
    font-size: 14px;
    position: absolute;
    top: 30%;
    right: 64px;
    color: white;
}